@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.wrapper {
  width: 100%; /*Устанавливает ширину содержимого элемента*/
  max-width: 1219px;
  margin-left: auto; /*Устанавливает величину отступа от левого края элемента*/
  margin-right: auto; /*Устанавливает величину отступа от правого края элемента
  Устанавливает значение поля от правого края содержимого элемента*/
  background: #EEEEEE;
  }

body {
  font-family: Roboto, sans-serif;
  margin: 0px auto;
  

}

.head {
  width: 100%; /*Устанавливает ширину содержимого элемента*/
  max-width: 1219px;
  background-color: #007765; /*Определяет цвет фона элемента*/
  height: 84px; /*Устанавливает высоту содержимого элемента*/
  display: flex; /*Определяет как элемент должен быть показан в документе*/
  align-items: center; /*Выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении*/
  position: fixed; /*Устанавливает способ позиционирования элемента относительно окна браузера или других объектов на веб-странице*/
  top: 0; /*Расстояние от верхнего края родительского элемента до верхнего края дочернего элемента*/
  z-index: 21; /*Размещением по z-оси*/
  /*transition: height 1s ease-in-out;*/
  left: 50%;
  transform: translateX(-50%);
}
.logo {
  float: left; /*Остальные элементы будут обтекать его с других сторон*/
  padding-right: 48px; /*Устанавливает значение поля от правого края содержимого элемента*/
}
.logo_img {
  width: 183px; /*Устанавливает ширину содержимого элемента*/
  height: 45px; /*Устанавливает высоту содержимого элемента*/
}
.link {
  font-weight: 500; /*Устанавливает насыщенность шрифта*/
  font-size: 24px; /*Определяет размер шрифта элемента*/
  line-height: 28px; /*Задаёт высоту строки текста*/
  text-decoration: none; /*Добавляет оформление текста*/
  color: #fff; /*Определяет цвет текста элемента*/
  /*transition: color .2s linear;*/
  /*transition: font-size .3s linear;*/
}
.main-container {
  width: 100%; /*Устанавливает ширину содержимого элемента*/
  max-width: 1219px; /*Устанавливает максимальную ширину элемента*/
  margin-left: auto; /*Устанавливает величину отступа от левого края элемента*/
  margin-right: auto; /*Устанавливает величину отступа от правого края элемента*/
  padding-left: 55px; /*Устанавливает значение поля от левого края содержимого элемента*/
  padding-right: 55px; /*Устанавливает значение поля от правого края содержимого элемента*/
}
.nav-con {
  height: 100%; /*Устанавливает ширину содержимого элемента*/
  display: flex; /*Определяет как элемент должен быть показан в документе*/
  align-items: center; /*Выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении*/
  justify-content: space-between; /*Как браузер распределяет пространство вокруг флекс-элементов вдоль главной оси контейнера*/
}
/*Навигационный контейнер*/


h1 {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 72px;
  line-height: 85px;
  padding-top: 159px;
  padding-bottom: 159px;
  margin: 0;
  color: white;
}
.jumbotron {
display: flex;
  width: 100%;
  max-width: 1219px;
  background-image: url(images/image.png);
  background-size: cover;
  margin-top: 84px;
  justify-content: center;
  margin-bottom: 0;
}
.theproblem {
  display: flex;
  flex-direction: column;
  /* height: 719px; */
}
.theproblem > h2 {
  color: #007765;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 16px;

}
.theproblem > p {
  font-size: 32px;
  line-height: 37.5px;
  width: 400;
  color: black;
  padding-left: 55px;
  padding-right: 55px;
  margin: 10px;
}

.hero {
  display: flex;
  width: 100%;
  max-width: 1219px;
  background-image: url(images/hero.png);
  background-size: cover;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 92px;
}

.hero h3 {
  color: #fff;
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  margin-top: 128px;
  margin-bottom: 127px;
}
.ppc {
  padding-left: 55px;
  padding-right: 55px;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;

}
.ppclogo {
  width: 115px;
  height: 115px;
}
.ppc p {
  width: 400;
  font-style: normal;
  font-size: 32px;
  line-height: 37.5px;
  color: #000;
  margin: 10px;
}
.ppc > h2 {
  color: #007765;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 16px;
}
.ppc1 {
  display: inline-flex;
  flex-direction: row;
}
.ppc1 > p {
  padding-left: 25px;
}
.theteam {
  padding-left: 145px;
  padding-right:145px;
  display: flex;
  flex-direction: column;
  background: #EEEEEE;

}
.team1, .team2{
display: inline-flex;
justify-content: space-between;

}
.team1 {
  margin-top: 56px;
}
.team2 {
  margin-top: 82px;
  margin-bottom: 122px;
}

.theteam > h2 {
  color: #007765;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 16px;
}
figcaption > h4 {
font-style: normal;
font-weight: 700;
font-size: 24px;
color: #007765;
text-align: center;
line-height: 28px;
margin: 10px;
  }
  figcaption > p {
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    color: #000;
    text-align: center;
    line-height: 21px;
    margin: 10px;
      }
       
.teamimg {
  width: 168px;
}
        .dinesh, .Bertram, .richard, .Jared, .Monica, .Nelson{
        align-items: center;
        display: flex;
        flex-direction: column;
      }
      
.footer {
  display: flex;
  color: #FFFFFF;
  background-color: #333333;
  width: 400;
  font-size: 18px;
  justify-content: center;
  line-height: 21.09px;
  padding: 48px 339px 64px 340px;
  text-align: center;


}

@media (max-width: 700px) {
  .team1, .team2 {
    display: block;
    
  }
  .team2 {
    margin-top: 10px;
  }
  .nav-con{
    flex-direction: column;
  }
  .footer {
    padding: 0px;
  }
  .theproblem > p {
    text-align: center;
  }
  h1 {font-size: 50px;}
  .link {
    font-size: 20px;
  }
  .ppc > h2, .theteam > h2, .theproblem > h2 {
    font-size: 40px;
  }
}